<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul>
    	<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
    	<li>{{#link-to 'about'}}About{{/link-to}}</li>
    	<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
    </ul>
  </nav>
</div>

<div class="row">
	<h1>About</h1>

	<p>This is a Simple Blog built with Ember.js called Emblr</p>
</div>