<div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">
    <ul>
    	<li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
    	<li>{{#link-to 'about'}}About{{/link-to}}</li>
    	<li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
    </ul>
  </nav>
</div>
<h1>Phone</h1>
<p>Call : 19999999999 </p>